* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
main {
   height: calc(100vh);	
   overflow: hidden;
    background-image: url(../img/i\ \(1\).jpg);
    backdrop-filter: blur(2px);
   }

.meteo-form { width: 80%; height: 100px; }
.form{
    width: 80%;
    height: 100px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    display: flex;
     flex-wrap: wrap;
}
input{
    background-color: rgb(255, 255, 255); 
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 25px;
    padding-left: 10px;
    text-transform: capitalize;
}

.myBtn{
    background-color: rgb(7, 105, 170);
    height: 37.5px;
    width: 80px;
    border: none;
    color: white;
    border-radius: 25px;
    position: absolute;
    right: 0.5%;
    top: 0.5%;
    cursor: pointer;
}

input, .myBtn:focus{outline: none;}

.error{

  text-align: center; width: 100%;
  
}
.error p{color: red;font-size: 18px; max-width: 30%; text-align: center;margin: auto; }

.meteo-preview{ position: relative; }

.conteiner{
    /* background-color: rgb(7, 105, 170); */
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(16, 16, 44, 0.966);
    color: white;
  }
thead tr{ height: 45px; border-right: none;background-color: rgb(12, 12, 31); }
tr{ text-align: center; }

th{ text-align: center; }
thead th:nth-child(1) { width: 30%; }
thead th:nth-child(2) { width: 15%; background-color: rgb(100, 100, 104); }
thead th:nth-child(3) { width: 15%; }
thead th:nth-child(4) { width: 15%; background-color: rgb(100, 100, 104);}
thead th:nth-child(5) { width: 15%; }
thead th:nth-child(6) { width: 15%;  background-color: rgb(100, 100, 104);}

 
tbody td:nth-child(2) { background-color: rgb(123, 123, 126); }
tbody td:nth-child(4) { background-color: rgb(123, 123, 126); }
tbody td:nth-child(6) { background-color: rgb(123, 123, 126); }
 
th, td { padding: 20px; }

td p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.article{
    background: rgba(19, 22, 27, 0.226);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 350px;
    font-family: 'Courier New', Courier, monospace;
}

.info { display: flex; justify-content: space-around; }

.temperature{
  font-size: 4rem;
  font-family:'Times New Roman', Times, serif;
  display: flex;
  
}
.description  p {
  font-family: 10px;
}
.description img {
  max-width: 60px;
  max-height: 60px;
}
.tmax, tmin{font-size: 14px;}